.about-me-home {
  padding: 14rem 0 !important;
  display: flex;
  align-items: center;
  gap: 6rem;
}

.about-me-home-content .details-content {
  margin-bottom: 3.2rem;
}

.about-me-home-content h3 {
  color: #ea5c43;
  font-size: 2.4rem;
  margin-bottom: 3.2rem;
  text-transform: capitalize;
}

.about-me-home-content h2 {
  font-size: 3.6rem;
  font-weight: 300;
  line-height: 1.5;
  color: #1c1e3c;
}

.list-content {
  padding: 0 5rem;
  margin-bottom: 3.2rem;
}

.list-content .list-content-items {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 2rem;
}

@media only screen and (max-width: 1200px) {
  .about-me-home-content h2 {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 1100px) {
  .about-me-home {
    gap: 3rem;
  }
  .about-me-home-content h2 {
    font-size: 2.4rem;
  }

  .list-content .list-content-items {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 900px) {
  .about-me-home {
    padding: 8rem 2rem !important;
    flex-direction: column;
    gap: 3rem;
  }

  .about-me-home-img-box img {
    width: 100%;
  }

  .about-me-home-content .details-content {
    margin-top: 2rem;
  }

  .about-me-home-content h2 {
    font-size: 3.2rem;
  }

  .list-content .list-content-items {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .about-me-home {
    padding: 6.4rem 1rem !important;
    flex-direction: column;
    gap: 3rem;
  }

  .about-me-home-img-box img {
    width: 100%;
  }

  .about-me-home-content .details-content {
    margin-top: 2rem;
  }

  .about-me-home-content h2 {
    font-size: 3rem;
  }

  .list-content .list-content-items {
    font-size: 2rem;
  }

  .about-me-home button {
    text-align: center !important;
  }
}
