.heading {
  text-align: center;
  padding: 4.8rem 0;
}

.heading-inner {
  padding: 0 10rem;
}

.heading h1 {
  font-size: 6.2rem;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 2.4rem;
}

.heading p {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #ea5c43;
  font-weight: 600;
  text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {
  .heading h1 {
    font-size: 5.2rem;
  }
}
@media only screen and (max-width: 900px) {
  .heading h1 {
    font-size: 4.4rem;
  }
}
@media only screen and (max-width: 700px) {
  .heading h1 {
    font-size: 3.6rem;
  }

  .heading {
    padding: 3.2rem 0;
    padding-bottom: 0 !important;
  }

  .heading p {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 500px) {
  .heading h1 {
    font-size: 3rem;
  }

  .heading {
    padding: 3.2rem 0;
  }
}
