.blogs {
  padding: 8rem 0;
}

.article {
  max-width: 80rem;
  margin: 0 auto;

  padding: 4rem 4rem;
}

.article h2 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.article p {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

@media only screen and (max-width: 700px) {
  .article h2 {
    font-size: 2.4rem;
    font-weight: 700;
  }
  .article {
    padding: 0rem;
    margin-bottom: 4rem;
  }
}
