.btn {
  padding: 1.6rem 4rem;
  border: none;
  color: #fff;
  background-color: #ea5e3c;
  font-size: 2rem;
  cursor: pointer;
  text-transform: capitalize;
}

.btn-subs {
  background-color: #fff;
  color: #ea5c43;
  text-transform: none;
  font-weight: 700;
}

.logo {
  color: #1c1e3c;
  font-size: 4rem;
}

.logo span {
  color: #ea5c43;
}
