/*
=======================
 01 TYPOGRAPGY SYSTEM
=======================
- Font Size (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weight
Default: 400
Medium: 500 
Semi Medium; 600 
Bold: 700

- Line Heights
Default: 1
Small: 1.05
Paragraph Default: 1.6
paragraph large: 1.8
Medium: 1.2

- Letter Spacing
-0.5px
0.75px


==================
02 COLORS SYSTEM
==================
- Primary : #ea5c43 
- Secondary: #1c1e3c
- Tints   : 
- Shades  : 
- Accents : 
- Greys: #eee, #ddd #ccc, #bbb, #aaa, #999, #777, #666, #555, #444, #333, #222, #111, #000, #6f6f6f, #767676


==================
03 SPACING SYSTEM
==================
- White Space Size (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 120

============
04 SHADOWS
============
box-shadow 1: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

================== 
05 BPRDER RADIUS
==================
Default: 9px
Medium: 11px
*/

@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Martel+Sans:wght@200;300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  /* scroll-behavior: smooth; */
}

body {
  font-family: "Martel Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #1a1a1a;
}

strong {
  font-weight: 500;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cardo", serif;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(234, 92, 67, 0.5);
}

/* REUSABLE GRID */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
