.about-me {
  padding: 8rem 0;
}

.about-me-container {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.about-me img {
  width: 31rem;
}

.about-me-text p {
  font-size: 1.8rem;
  line-height: 1.6;
}

@media only screen and (max-width: 700px) {
  .about-me-container {
    flex-direction: column;
  }

  .about-me img {
    max-width: 31rem !important;
  }
}
